<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div id="form" >
<!--    th:action="@{/home/login}"-->
    <form action="#" th:object="${login}"
          method="POST" novalidate="novalidate">
        <div>
            <label>username</label>
            <input type="text" th:field="*{account}"/>
        </div>
        <div>
            <label>pass</label>
            <input type="password" th:field="*{password}"/>
        </div>
        <input type="submit" value="login">
    </form>
</div>
</body>
</html>